/* write your override styles here */

body .tag-1 {
display: none;
}

body #tag-2 {
  display: none;
}

body #tag-3 {
  display: none;
}

body #tag-4 {
  display: none;
}

body #tag-5 {
  display: none;
}